extends layout

block content
  .wrapper
    .page
      .page__heading
        span.dates  #{dates[0].date}-#{dates[6].date}
        span.month #{months[dates[0].months]} #{dates[0].years}
      .page__body
        .diary
          .diary__body
            .heading-wrapper
              .day__body.heading Date
              .details__body.heading
                .content
                  .time Time
                  .description Description
              .circle-wrapper
              .circle-wrapper
              .details__body.heading
                .content
                  .task Task
                  .done Done

          .diary__body
            - for (var i = 0; i < 7; i++)
              .day-wrapper
                .day__body
                  .day__body--day= days[i]
                  .day__body--date= dates[i].date
                  .day__body--saint

                .details__body
                  .content
                    .time test
                    .description
                  .content
                    .time
                    .description
                  .content
                    .time
                    .description
                  .content
                    .time Saint:
                    .description= saints[i]


                .circle-wrapper
                  .circle
                .circle-wrapper
                  .circle
                .details__body
                  .content
                    .task
                    .done
                  .content
                    .task
                    .done
                  .content
                    .task
                    .done
                  .content
                    .task
                    .done







