extends layout

block content
  div.wrapper
    div.content
      div.page--1
        div.page__heading--1
          span.dates  #{curDate[0].date} - #{curDate[6].date}
          span.month #{months[curDate[0].months]} #{curDate[0].years}
        div.page__body
          div.diary
            div.day
              div.day__heading Day
                div.day__body
                - for (var i = 0; i < 7; i++)
                  div.body__day= days[i]
                  div.body__date= curDate[i].date
            div.time
              div.time--heading Time
                div.line
                div.line
                div.line
                div.line
            div.description
              div.description--heading Description
                div.line= curSaints
                div.line
                div.line
                div.line
          div.circle




